@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

#btn-top {
    display: inline-block;
    background-color: #294bff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#btn-top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#btn-top:hover {
    cursor: pointer;
    background-color: #0b185a;
}

#btn-top:active {
    background-color: #0b185a;
}

#btn-top.show {
    opacity: 1;
    visibility: visible;
}

.hubungi-kami {
    position: fixed;
    bottom: 30px;
    left: 35px;
    z-index: 1000;
}

.hubungi-kami .profile {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}

.hubungi-kami .profile:hover {
    filter: brightness(90%);
}

.hubungi-kami .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hubungi-kami .menu::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.hubungi-kami .menu {
    position: absolute;
    bottom: 55px;
    left: -15px;
    padding: 10px 20px;
    background: #fff;
    width: 500px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hubungi-kami .menu.active {
    bottom: 70px;
    visibility: visible;
    opacity: 1;
}

.hubungi-kami .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}


/* .hubungi-kami .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 500;
} */

.hubungi-kami .menu ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.hubungi-kami .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: .5;
    transition: .3s;
}

.hubungi-kami .menu ul li:hover img {
    opacity: 1;
}

.hubungi-kami .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 600;
    transition: .3s;
}

.hubungi-kami .menu ul li:hover a {
    color: #000;
}

.btn-contact {
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: #294bff;
    color: #fff;
    transition: .5s;
}

.btn-contact:hover {
    background: #152781;
}

.hide-hubungi-kami {
    display: none;
}

@media (max-width: 991px) {
    .hubungi-kami {
        left: 25px;
        bottom: 20px;
    }
    .hubungi-kami .menu {
        left: -15px;
        width: 240px;
    }
    .hubungi-kami .menu.active {
        width: 240px;
    }
    .hubungi-kami .menu ul li a {
        font-size: 12px;
        font-weight: 500;
    }
    .hubungi-kami .menu h3 {
        font-size: 16px;
        padding: 18px 0;
        margin-bottom: 5px;
    }
}


/* Header */

li,
a,
button {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 18px 60px;
    top: 0;
    background: #fff;
    margin-top: 5px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo img {
    cursor: pointer;
    width: 65px;
    height: auto;
}

.logo h3 {
    color: #292929;
    font-size: 22px;
    font-weight: 700;
    margin-left: 22px;
}

.nav-link {
    list-style: none;
    margin-right: 70px;
}

.nav-link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-item a {
    transition: all .3s ease 0s;
    color: #6d6d6d;
    font-weight: 600;
    cursor: pointer;
}

.nav-item a:hover {
    color: #292929;
}

.nav-item.active {
    color: #0088a9;
    font-weight: 700;
}

.nav-item a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background: #294bff;
    transition: width .3s;
    margin: auto;
    margin-top: 5px;
}

.nav-item a:hover::after {
    width: 80%;
}

.btn-login button {
    padding: 10px 25px;
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease 0s;
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
    background: #fff;
}

.btn-login button:hover {
    background: #294bff;
    color: #fff;
    border: 1px solid #294bff;
}


/* End Header */


/* Bagian Beranda */

.beranda {
    padding: 30px 100px 100px 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.col50.text-content {
    margin-top: 50px;
}

.titleText {
    color: #292929;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 18px;
}

.row .col50 .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col50 .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px 10px 10px 10px;
}

.col50 p {
    font-size: 18px;
    color: #6d6d6d;
}

.col50 .btn-daftar {
    padding: 10px 25px;
    border: none;
    background: #294bff;
    color: #fff;
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;
    transition: .3s;
}

.col50 .btn-daftar:hover {
    background: #0b185a;
}

.col50 .btn-download {
    padding: 10px 25px;
    cursor: pointer;
    transition: .3s;
    color: #292929;
    border: 1px solid #292929;
    border-radius: 10px;
    background: #fff;
}

.col50 .btn-download:hover {
    border: 1px solid #fff;
    background: #292929;
    color: #fff;
}


/* Bagian Why */

.why-bansal {
    padding: 80px 100px;
    background: #dfe4f6;
}

.title h2 {
    font-weight: 500;
    font-size: 34px;
    text-align: center;
    color: #292929;
    margin-bottom: 20px;
}

.why-row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.col30 {
    text-align: center;
    position: relative;
    width: 30%;
}

.col30 i {
    font-size: 38px;
    color: #42a5f5;
}

.col30 img {
    width: 50px;
    height: auto;
}

.col30 h3 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #292929;
}

.col30 p {
    margin-top: 10px;
    font-size: 14px;
    color: #6d6d6d;
}


/* Bagian Proses Daftar */

.proses {
    padding: 20px 0px;
    margin-top: 100px;
}

.proses-pendaftaran {
    position: relative;
    margin-top: 70px;
}

.info-left {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    margin-right: 340px;
}

.info-right {
    display: flex;
    justify-content: center;
    margin-left: 340px;
    margin-bottom: 45px;
}

.btn-info {
    padding: 0 25px;
    text-align: center;
    background: #294bff;
    color: #fff;
    border-radius: 5px;
    height: 75px;
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: center;
    font-size: 18px;
}

.circle-icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 24px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-top: -20px;
}

.icon-proses {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -12px;
    width: 30px;
    height: auto;
}

.line-proses {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 8px;
    height: 100px;
    background: #c4c4c4;
    margin-top: 24px;
}


/* Kemitraan */

.mitra {
    padding: 80px 100px;
    margin-top: 100px;
}

.mitra .title {
    margin-bottom: 30px;
}

.mitra-row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mitra-row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}

.mitra-col-1,
.mitra-col-2 {
    margin: 20px 30px;
}

.mitra-col-1 img {
    width: 200px;
    height: auto;
}

.mitra-col-2 img {
    width: 115px;
    height: auto;
}

.lpan img {
    width: 140px;
    height: auto;
}


/* Footer */

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

ul {
    list-style: none;
}

.footer {
    background: #dfe4f6;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    line-height: 25px;
}

.footer-col h4 {
    font-size: 22px;
    color: #292929;
    margin-bottom: 20px;
    font-weight: 600;
    position: relative;
}


/* .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #294bff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
} */

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 14px;
    color: #6d6d6d;
    text-decoration: none;
    font-weight: 400;
    transition: all .3s ease;
}

.footer ul li a i {
    margin-right: 5px;
}

.footer-col ul li a:hover {
    padding-left: 8px;
    color: #294bff;
}

.footer-col p {
    font-size: 15px;
    color: #6d6d6d;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(141, 141, 141, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    color: #292929;
    transition: all .5s ease;
}

.footer-col .social-links a:hover {
    color: #fff;
    background-color: #292929;
}


/* footer paling bawah */

.footer-bottom {
    padding: 30px 100px;
    background: #294bff;
    display: flex;
    justify-content: flex-end;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.footer-logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.footer-logo p {
    font-weight: 600;
    color: #fff;
    font-size: 13px;
}

.link-social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(141, 141, 141, 0.2);
    margin-right: 10px;
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease;
}

.link-social a:hover {
    color: #fff;
    background-color: #292929;
}

@media (max-width: 991px) {
    #btn-top {
        bottom: 20px;
        right: 20px;
    }
    /* Header */
    header {
        padding: 18px 20px;
        margin-top: 0;
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
    }
    header .nav-link,
    header .logo h3 {
        display: none;
    }
    header .nav-link.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 82px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .nav-link li {
        margin: 10px 0;
    }
    header .nav-link li a {
        color: #292929;
        font-size: 1.5em;
    }
    .menuToggle {
        position: relative;
        width: 30px;
        height: 30px;
        filter: brightness(0%);
        background: url(img/menu.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 20px;
        cursor: pointer;
    }
    .menuToggle.active {
        background: url(img/close.png);
        filter: brightness(0%);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header .menuToggle {
        filter: invert(1);
    }
    header .btn-login button {
        margin-bottom: 0;
        padding: 10px 15px;
    }
    .logo img {
        width: 50px;
    }
    /* Beranda */
    .beranda {
        padding: 80px 20px;
        padding-bottom: 50px;
    }
    .row {
        flex-direction: column-reverse;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }
    .titleText {
        font-size: 38px;
        margin-bottom: 10px;
    }
    br {
        display: none;
    }
    .col50.text-content {
        margin-top: 30px;
    }
    .col50 p {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .col50 .btn-daftar {
        margin: 35px 0 15px 0;
        width: 100%;
    }
    .col50 .btn-download {
        width: 100%;
    }
    .row .col50 .imgBox {
        height: 300px;
        margin-top: 40px;
    }
    .row .col50 .imgBox img {
        border-radius: 15px;
    }
    /* Why Banisaleh */
    .why-bansal {
        padding: 80px 20px;
    }
    .title h2 {
        font-size: 28px;
        font-weight: 700;
    }
    .why-row {
        justify-content: center;
        margin: 30px 0;
        flex-direction: column;
    }
    .why-row .col30 {
        width: 100%;
        margin: 10px 0;
        padding: 30px;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        background: #fff;
        border-radius: 5px;
    }
    /* Proses */
    .mitra {
        padding: 80px 0;
    }
    .proses {
        padding: 80px 20px;
        margin-top: 0px;
    }
    .proses-pendaftaran {
        margin-top: 65px;
    }
    .info-left {
        margin-right: 205px;
    }
    .info-right {
        margin-left: 205px;
    }
    .btn-info {
        width: 140px;
        height: 60px;
        font-size: 14px;
    }
    .circle-icon {
        padding: 22px;
        margin-top: -14px;
    }
    .icon-proses {
        width: 25px;
        margin-top: -5px;
    }
    .line-proses {
        margin-top: 25px;
        width: 6px;
    }
    /* Kemitraan */
    .mitra .title {
        margin-bottom: 20px;
    }
    .mitra-col-1,
    .mitra-col-2 {
        margin: 25px 15px;
    }
    .mitra-col-1 img {
        width: 90px;
    }
    .mitra-col-2 img {
        width: 80px;
    }
    .mitra-row-2 {
        margin: 10px;
    }
    /* Footer */
    .footer {
        padding: 30px 10px;
        width: 100%;
    }
    .footer-container {
        margin: 0;
    }
    .footer-row {
        left: 0;
        transform: translateX(0);
        flex-direction: column;
    }
    .footer-col {
        width: 100%;
        margin: 20px 0;
    }
    /* Footer Bawah */
    .footer-bottom {
        padding: 30px 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .footer-logo {
        margin-right: 0;
        justify-content: center;
        margin-top: 20px;
    }
    .footer-logo img {
        width: 25px;
    }
    .link-social {
        display: flex;
        justify-content: center;
    }
    .link-social a {
        height: 35px;
        width: 36px;
        line-height: 38px;
    }
}

@media (max-width: 400px) {
    .btn-info {
        width: 140px;
        height: 50px;
        font-size: 12px;
        padding: 0 10px;
    }
}